/vendor
# /resources/docs
# /public/api
# /public/assets/css
# /public/assets/js/*
# !/public/assets/js/viewport-units-buggyfill.js
# /public/build
/public/page-cache
/public/storage
# /build
/build/sami/build
/build/sami/cache
/build/sami/laravel
/build/sami/vendor
/node_modules
composer.phar
# .env.*
.env
.DS_Store
Thumbs.db
/.idea
/.vscode
package-lock.json
# yarn.lock