footer.main {
	background: #fafafa;
	padding: 35px 20px;
	text-align: center;
	> ul {
		list-style: none;
		margin: 25px auto 35px;
		> li {
			display: inline-block;
			margin: 0 18px;
			> a {
				font-size: 16px;
				color: $color__gray;
				&:hover {
					color: $color__salmon;
				}
			}
		}
	}
	p {
		color: $color__light_gray;
		font-size: 16px;
		margin-bottom: 10px;
		a {
			color: $color__gray;
			&:hover {
				color: $color__salmon;
			}
		}
	}
	
	p.less-significant a {
		color: lighten(#AEAEAE, 10%);
		font-size: 14px;
		&:hover {
			color: $color__salmon;
		}
	}
}

@media (max-width: 720px) {

	footer.main ul {
		display: none;
	}

}
