nav.main {
	@include clearfix;
	padding: 0 60px;
	display: table;
	height: 90px;
	width: 100%;
	border-bottom: 1px solid $color__lighter_gray;

	a.brand {
		color: $color__darker_salmon;
		font-size: 21px;
		float: left;
		line-height: 90px;
		margin-right: 30px;
		img {
			position: relative;
			top: 7px;
			margin-right: 15px;
		}
	}

	ul.main-nav {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
		float: right;
		> li {
			display: inline-block;
			margin: 0 15px;
			> a {
				line-height: 90px;
				font-size: 16px;
				color: $color__gray;
				&:hover {
					color: $color__salmon;
				}
			}
			&.active a {
				color: $color__salmon;
			}
		}
		.community-dropdown .dropdown-menu {
			top: 83%;
		}
	}

	.switcher {
		position: relative;
		float: right;
		margin-top: 25px;
		margin-left: 25px;
		.dropdown-menu {
			border-radius: 3px;
			min-width: 75px;
			margin-top: 10px;
			padding: 0;
			box-shadow: 0 1px 6px rgba(0,0,0,.1);
			> li {
				border-bottom: 1px solid $color__faint;
				&:last-child {
					border: none;
				}
			}
			> li > a {
				color: $color__gray;
				padding: 10px 20px;
				text-align: center;
			}
		}
	}
}

.responsive-sidebar-nav {
	.btn { background: #333; }
	display: none;
	float: right;
	margin-top: 25px;
	margin-left: 25px;
}

@media (max-width:1080px) {

	nav.main {
		padding: 0 20px;
	}
}

@media (max-width:900px) {

	.docs {
		nav.main ul.main-nav {
			display: none;
		}

		.responsive-sidebar-nav {
			display: block;
		}
	}

}

@media (max-width:860px) {

	.home, .the-404 {
		nav.main ul.main-nav {
			display: none;
		}
		.responsive-sidebar-nav {
			display: block;
		}
	}

}

@media (max-width: 780px) {
	nav.main {
		padding: 0 15px;
	}
}