.panel {
	position: relative;
	padding: 0 20px;

	h1 {
		text-align: center;
	}
	p {
		font-size: 21px;
		color: $color__light_gray;
	}

	&.dark {
		background-color: $color__faint;
	}

	&.statement {
		display: table;
		table-layout: fixed;
		height: 100vh;
		min-height: 900px;
		margin: 0 0 -100px 0;
		width: 100%;
		text-align: center;

		.content {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			padding-bottom: 150px;
		}

		h1 {
			font-size: 56px;
		}

		h1 + p {
			font-size: 28px;
			font-weight: 100;
			-webkit-font-smoothing: subpixel-antialiased;
		}

		p.caption {
			color: $color__gray;
			font-size: 18px;
		}

		.browser-window {
			display: block;
			margin: 8vh auto 15px;
		}

		.next-up {
			bottom: 150px;
		}
	}

	&.features {
		padding: 125px 0;
		> h1, > p {
			margin: 0 0 20px 0;
			text-align: center;
		}
		.blocks {
			max-width: 900px;
			background: #fff;
			margin: 50px auto;
			border-radius: 4px;
			box-shadow: 0 1px 4px rgba(0,0,0,.2);

			.block {
				@include clearfix;
				border-bottom: 1px solid #dbdcdb;
				height: 225px;
				overflow: hidden;
				.text {
					padding: 50px;
					width: 60%;
					float: left;
					h2 {
						font-size: 24px;
						font-weight: 400;
						color: $color__salmon;
					}
				}
				.media {
					float: right;
					padding-top: 20px;
					width: 40%;
					overflow: hidden;
					.browser-window {
						width: 400px;
					}

				}

				&.even {
					.text {float: right;}
					.media {
						float: left;
						.terminal-window {
							float: left;
							margin-left: -5px;
							width: 360px;
							pre[class*="language-"] {
								border-radius: 0;
								margin-top: 0;
							}
						}
					}
				}

				p {
					font-size: 14px;
					color: #80878c;
				}
			}
		}
	}
	&.ecosystem {
		padding: 150px 0 75px;
		background: url('/assets/img/laravel-tucked.png') center top no-repeat;
		> h1, > p {
			margin: 0 0 20px 0;
			text-align: center;
		}
		.forge {
			@include clearfix;
			margin: 100px auto;
			.screenshot {
				float: left;
				max-width: 50%;
			}
			.content {
				padding: 25px 5px;
				max-width: 45%;
				float: left;
				img {
					margin-bottom: 15px;
				}
			}
			p {
				color: $color__gray;
				font-size: 16px;
			}
		}
		.tiles {
			@include clearfix;
			max-width: 1080px;
			margin: 0 auto;
			padding: 0 25px;
			.tile {
				border: 1px solid $color__lighter_gray;
				padding: 25px 15px;
				border-radius: 4px;
				width: 30%;
				margin-right: 5%;
				float: left;
				text-align: center;
				&:last-child {
					margin-right: 0;
				}
				h2 {
					color: $color__salmon;
					font-size: 24px;
					font-weight: 400;
				}
				p {
					font-size: 16px;
					color: $color__gray;
				}
			}
		}
	}

	.next-up {
		position: absolute;
		bottom: 50px;
		text-align: right;
		right: 50px;
		width: 300px;
		text-transform: uppercase;
		font-size: 15px;
		color: #aaa;
		&:hover {
			color: #777;
		}
		img {
			position: relative;
			top: 14px;
			margin-left: 10px;
		}
	}

	.browser-window, .terminal-window {
		overflow: hidden;
		pre[class*="language-"], .window-content {
			overflow: hidden !important;
		}
	}

}

@media (max-width:980px) {
	.panel .next-up {
		right: auto;
		left: 50%;
		margin-left: -150px;
	}

	.panel.features {
		padding: 75px 0;
	}
}

@media (max-width:760px) {
	.panel.statement h1 {
		font-size: 42px;
		line-height: 1.2;
		+ p {
			font-size: 21px;
		}
	}
	.panel.ecosystem {
		.forge {
			text-align: center;
			padding: 0 50px;
			margin: 50px 0;
			.screenshot {
				@include clearfix;
				float: none;
				margin-bottom: 25px;
				max-width: 100%;
			}
			.content {
				@include clearfix;
				max-width: 100%;
			}
		}
		.tiles {
			.tile {
				@include clearfix;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	.panel.features {
		.blocks .block {
			.text {
				padding: 15px;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (max-width:620px) {
	.panel.statement .browser-window {
		width: 100%;
	}
}

@media (max-width: 580px) {
	.panel.features {
		.blocks .block {
			height: 410px;
			.text {
				width: 100%;
				float: none !important;
				display: block;
				padding: 5%;
			}
			.media {
				float: none !important;
				display: block;
				width: 100%;
				.terminal-window,
				.browser-window {
					width: 90% !important;
					margin: 0 5% !important;
					float: none !important;
				}
			}
		}
	}
}