* {
	box-sizing: border-box;
}

html {
}

body {
	color: $color__gray;
	font-family: $font;
	font-size: 16px;
	background: #fff url('/assets/img/cloud-bar.png') repeat-x;
	padding-top: 10px;
}

// h1, h2, h3, h4, h5, h6, p {
// 	margin-top: 0;
// 	padding-top: 0;
// 	margin-bottom: 1.5em;
// }

.container {
	max-width: 1080px;
	margin: 0 auto;
}

a {
	color: $color__salmon;
	text-decoration: none;
	// transition: .15s linear all;
}

h1 {
	font-size: 48px;
	font-weight: 200;
}

p {
	line-height: 1.5;
	margin: 10px 0 20px;
}

.contain {
	max-width: 880px;
	margin: 0 auto;
}

p code {
	background: $color__faint;
	color: $color__salmon;
	padding: 1px 5px;
	border-radius: 3px;
}

code, kbd, pre, samp {
	font-family: source-code-pro, monospace;
	font-size: 14px;
}

blockquote {
	background: $color__salmon;
	color: #fff;
	border-radius: 3px;
	margin: 10px 0 20px;
	padding: 10px 15px;
	p:last-child {
		margin: 0;
	}
	a {
		color: #fff;
	}
}
