/**
 * Alerts
 */
.alert
{
    background-color: #e6e6e6;
    border-radius: 2px;
    color: #5A6C7F;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 15px;

    p {
        color: #5a6C7f;
        margin-bottom: 0;
    }
}

.alert-info
{
    background: #e4f4fd;
    border: 1px solid #a8cce2;
    color: #407ea1;
}

.alert-success
{
    background: #e6f4d8;
    border: 1px solid #a5d76f;
    color: #61801b;
}

.alert-warning
{
    background: #f9f9d5;
    border: 1px solid #d6cd77;
    color: #7c7548;
}

.alert-error
{
    background: #fbe3e3;
    border: 1px solid #f7b5b7;
    color: #d34047;
}

.close
{
    color: inherit;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: -6px;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;

    &:hover {
        opacity: 0.4;
        text-decoration: none;
    }
}
/* @end Alerts */
