/**
 * Pagination 
*/
.pagination 
{
    margin: 0;
    float: left;
    width: 100%;

    ul {
        float: left;
        margin: 0;
        padding: 0;

        li {
            float: left;
            list-style: none;
            margin-right: 3px;

            a {
                background: #ddd;
                background-image: linear-gradient(#fff, #ddd);
                border: 1px solid;
                border-color: #ddd #bbb #999;
                border-radius: 2px;
                color: #333333;
                cursor: pointer;
                float: left;
                font-size: 12px;
                font-weight: bold;
                padding: 5px 9px;
            }

            &.active a, a:hover {
                background: #fff;
                background-repeat: repeat-x;
                background-image: linear-gradient(#ddd, #fff);
                border: 1px solid;
                border-color: #999 #bbb #ddd;
                font-size: 12px;
                font-weight: bold;
            }

            &.inactive a {
                background-color: none;
                color: #313131;

                &:hover {
                    color: #313131;
                }
            }

            &.next a {
                border: 0;
            }
        }
    }
}
/* @end Pagination */
