/**
 * Scaffolding
 */
.boxed
{
    margin: 0 auto;
    padding: 0 1em;

    @media only screen and (min-width: 1044px) {
        padding: 0;
        width: 1024px;
    }
}

.one_full
{
    width: 100%;
    margin: 0;
    float: left;
}

.one_half,
.one_third,
.two_third,
.one_quarter,
.one_fifth
{
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding-right: 25px;
}

.one_full
{
    width: 100%;
}

.one_half
{
    width: 512px;
}

.one_third
{
    width: 341.3333px;
}

.two_third
{
    width: 682.6666px;
}

.one_quarter
{
    width: 25%;
    width: 256px;
}

.one_fifth
{
    width: 204.8px;
}

.one_half img,
.one_third img,
.two_third img,
.one_quarter img,
.one_fifth img
{
    width: 100%;
    height: auto;
}
/* @end Scaffolding */
