/**
 * Tabs 
 */
.tabs
{
    border-bottom: 1px solid #dddddd;
    margin: 0 0 20px;
    padding: 0;
    zoom: 1;
    width: 100%;

    &:before, &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }

    li {
        display: inline;

        a {
            background: #ddd;
            border-radius: 3px 3px 0 0;
            float: left;
            font-size: 13px;
            line-height: 35px;
            margin-bottom: -1px;
            margin-right: 2px;
            padding: 0 15px;
            width: auto;

            &:hover {
                background: #e6e6e6;
                border-bottom: 1px solid #bfbfbf;
            }
        }

        &.active a {
            background-color: #fff;
            border: 1px solid #ccc;
            border-bottom: 0;
            color: #808080;
            padding: 0 14px;
        }
    }
}
/* @end Tabs */
