/**
 * Typography
 */
html
{
    font-family: source-sans-pro, helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body
{
    line-height: 1.231;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a
{
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    -webkit-transition: 250ms linear all;
    -moz-transition: 250ms linear all;
    transition: 250ms linear all;
}

a:hover
{
}

a:active
{
}

a:focus
{
    outline: 0;
}

a:hover,
a:active
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    color: inherit;
    font-weight: bold;
}

blockquote
{
    position: relative;
    z-index: 5;
    margin: 0 0 15px 0;
    padding: 0;
}

blockquote p
{
    margin: 0;
    padding: 0;
}

span.fancyamp
{
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
    color: inherit;
    font-size: inherit;
}

dfn
{
    font-style: italic;
}

hr
{
    display: inline-block;
    height: 0px;
    width: 98%;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    padding: 0;
    margin: 15px 0 35px 0;
}

ins
{
    background: #ffffe0;
    text-decoration: none;
}

mark
{
    background: #ffffe0;
    font-style: italic;
    font-weight: bold;
}

address
{
    display: block;
    line-height: 18px;
    margin-bottom: 18px;
}

pre,
code,
kbd,
samp
{
    font-family: source-code-pro, monospace;
    font-size: 13px;
}

code
{
    background: #eeeeee;
    color: #f4645f;
    padding: 0 5px;
    border-radius: 3px;
}

pre code
{
    background: transparent!important;
    padding: 0;
    border-radius: none;
}

pre
{
    background: #3F3F49;
    border-radius: 2px;
    padding: 20px;
    color: #f4645f;
    display: block;
    overflow: hidden;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace
}

q
{
    quotes: none;
}
q:before,
q:after
{
    content: "";
    content: none;
}

small
{
    font-size: 0.6em;
}

/**
 * Position subscript and superscript
 * content without affecting line-height.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup
{
    top: -0.5em;
}

sub
{
    bottom: -0.25em;
}

/**
 * Give paragraphs some default styling.
 */
p
{
    font-size: 15px;
    line-height: 1.4em;
    margin: 0 0 0.8em 0;
}

p small
{
    font-size: 13px;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/**
 * Lists
 */
ul,
ol
{
    margin: 0 0 15px 0;
    padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul
{
    margin-bottom: 0;
}

ul
{
    list-style: disc;
}

ol
{
    list-style: decimal;
}

ol.roman
{
    list-style: upper-roman;
}

li
{
    font-size: 15px;
    line-height: 1.5;
}

dl
{
    margin-bottom: 15px;
}

dl dt,
dl dd
{
    font-size: 15px;
}

dl dt
{
    font-weight: bold;
}

dl dd
{
    margin-left: 9px;
}

ul, ol
{
    margin: 0 0 10px 20px;
    padding: 0;
}

dd
{
    margin: 0 0 0 20px;
}


/**
 * Set individual heading styles
 */
h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    line-height: 1.2em;
}

h1
{
    font-size: 225%;
}

h2
{
    font-size: 200%;
}

h3
{
    font-size: 175%;
}

h4
{
    font-size: 110%;
    margin-top: 25px;
}

h5
{
    font-size: 125%;
}

h6
{
    font-size: 100%;
}

/**
 * We probably don't want list-styles if it's in a navigation.
 */
nav ul,
nav ol,
#nav ul,
#nav ol,
#navigation ul,
#navigation ol,
.nav
{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
/* @end Typography */
