.docs article {
	padding: 25px 50px 50px;
	margin-left: 300px;

	h1 + ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		padding-bottom: 50px;
		border-bottom: 1px solid $color__faint;
		li {
			&:before {
				content: "# ";
				margin-right: .25em;
				color: $color__salmon;
				opacity: .3;
			}
			a {
				text-decoration: none;
			}
		}
	}

	h2 {
		font-size: 36px;
		font-weight: 400;
		position: relative;
		a, a:hover {
			color: $color__gray;
			text-decoration: none;
		}
		a:before {
			content: "#";
			margin-left: -25px;
			position: absolute;
			font-size: 28px;
			top: 5px;
			color: $color__salmon;
			opacity: .6;
		}
	}

	h3 {
		font-size: 24px;
		font-weight: 400;
	}

	h4 {
		font-size: 18px;
		font-weight: 700;
	}

	a {
		text-decoration: underline;
		&:hover {
			color: darken($color__salmon, 10%);
		}
	}

	blockquote a:hover {
		color: lighten($color__salmon, 25%);
	}

	table {
		border-collapse: collapse;
		width: 100%;
		font-size: 14px;
		th, td {
			border: 1px solid $color__lighter_gray;
			padding: 10px;
			text-align: left;
		}
		th {
			font-size: 16px;
		}
	}
}

.docs-wrapper {
	overflow: hidden;
}

@media (max-width:1080px) {

	.docs article {
		margin-left: 200px;
		padding: 15px 30px 30px;
		h2 a:before {
			margin-left: -20px;
		}
	}

}

@media (max-width:780px) {
	
	.docs article {
		margin-left: 0px;
		h1 {
			margin-top: 0;
		}
	}	

}